
/* -------|--google fonts--|--------*/

/* -------|--google fonts--|--------*/


/* --------|--all common css start--|--------*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
a,a:hover{
    display: inline-block;
    text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0px;
  padding: 0px;
}
body{
    overflow-x: hidden;
}
/* --------|--all common css end--|--------*/

/* --------|--header part css start--|--------*/

/* --------|--header part css end--|--------*/